@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        background-color: #f8f5ff;
        color: #272c51;
    }

    h1, h2, h3, h4, h5, h6, .font-headline {
        font-family: 'Manrope', sans-serif;
    }
}
